DATABASE_URL=sqlite:///./ejour.db

SECRET_KEY=CHANGE_ME_TO_RANDOM_LONG_STRING
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=60

CORS_ORIGINS=["http://localhost:3000"]

CITY=Донецк
UNIVERSITY=ДОНЕЦКИЙ НАЦИОНАЛЬНЫЙ ТЕХНИЧЕСКИЙ УНИВЕРСИТЕТ